{
    "root": true,
    "env": {
        "node": true,
        "browser": true
    },
    "plugins": [
        "import"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-console": "error",
        "no-debugger": "error",
        "no-param-reassign": "error",
        "import/no-unresolved": "error",
        "import/named": "error",
        "import/no-duplicates": "warn",
        "import/order": [
            "error",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal"
                ],
                "pathGroups": [
                    {
                        "pattern": "react",
                        "group": "external",
                        "position": "before"
                    },
                    {
                        "pattern": "@mui/**",
                        "group": "external",
                        "position": "after"
                    }
                ],
                "pathGroupsExcludedImportTypes": [
                    "react"
                ],
                "newlines-between": "always",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "alias": {
                "map": [
                    [
                        "@",
                        "./src"
                    ]
                ],
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        },
        "import/extensions": [
            ".js",
            ".jsx"
        ]
    },
    "overrides": [
        {
            "files": [
                "**/*.test.{js,jsx}"
            ],
            "env": {
                "jest": true
            },
            "rules": {
                "no-console": "off"
            }
        }
    ]
}
